.statistics {
    &__view {
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
        border: 0;
        display: flex;
        position: relative;
        font-size: 0.875rem;
        min-width: 0;
        word-wrap: break-word;
        background: #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        margin-top: 30px;
        border-radius: 6px;
        margin-bottom: 30px;
        flex-direction: column;

        &-wrapper {
            color: #fff;
            margin: 0 15px;
            padding: 0;
            position: relative;

            text-align: right;
            background: transparent;
            box-shadow: none;
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

            div {
                float: left;
                padding: 15px;
                margin-top: -20px;
                margin-right: 15px;
                border-radius: 3px;
                background-color: #999;
            }
            p {
                color: #999;
                margin: 0;
                font-size: 14px;
                margin-top: 20px;
                padding-top: 10px;
                margin-bottom: 0px;
            }
            h3 {
                color: #3c4858;
                margin: 0px;
                min-height: auto;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 300;
                margin-bottom: 30px;
                text-decoration: none;
            }
            svg {
                fill: #fff;
            }
        }

        &--orange {
            .statistics__view-wrapper {
                div {
                    background: linear-gradient(60deg, #ffa726, #fb8c00);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
                }
            }
        }
        &--green {
            .statistics__view-wrapper {
                div {
                    background: linear-gradient(60deg, #66bb6a, #43a047);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
                }
            }
        }
        &--red {
            .statistics__view-wrapper {
                div {
                    background: linear-gradient(60deg, #ef5350, #e53935);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
                }
            }
        }
        &--blue {
            .statistics__view-wrapper {
                div {
                    background: linear-gradient(60deg, #26c6da, #00acc1);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 172, 193, 0.4);
                }
            }
        }
    }
}
