.portlet-container {
	&__wrapper {
		color: rgba(0, 0, 0, 0.87);
		width: 100%;
		border: 0;
		display: flex;
		position: relative;
		font-size: 0.875rem;
		min-width: 0;
		word-wrap: break-word;
		background: #fff;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		border-radius: 6px;
		flex-direction: column;
		padding-top: 20px;
	}
	&__title {
		color: #3c4858;
		margin-top: 15px;
		min-height: auto;
		font-weight: 300;
		margin-bottom: 0px;
		text-decoration: none;
	}
	&__header {
		&-wrapper {
			padding: 0 15px;
		}
	}
	&__action {
		float: right;
		padding: 10px 15px;
		margin-top: -40px;
		margin-right: 15px;
		border-radius: 3px;
		background-color: #999;
		background: linear-gradient(60deg, #ec407a, #d81b60);
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);

		svg {
			fill: #fff;
			font-size: 1.5rem;
			transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
			flex-shrink: 0;
			-webkit-user-select: none;
			user-select: none;
			width: 20px;
			height: 20px;
			margin: 0px 4px 2px;
			text-align: center;
			line-height: 33px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
		}
		span {
			margin-top: 10px;
			margin-bottom: 10px;
			color: #fff;
			width: 100%;
			display: inherit;
			align-items: inherit;
			justify-content: inherit;
		}
	}
	&__body {
		flex: 1 1 auto;
		padding: 0.9375rem 20px;
		position: relative;
		-webkit-box-flex: 1;
		overflow: hidden;
	}
	&__inner {
		flex-direction: row;
		transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
		direction: ltr;
		display: flex;
		will-change: transform;
	}
	&__dialog,
	&__content {
		width: 100%;
		flex-shrink: 0;
	}
	&__content {
		padding: 0 30px;
	}
}
