.submit {
	&__button {
		color: #fff;
		border: none;
		cursor: pointer;
		margin: 0.3125rem 1px;
		padding: 12px 30px;
		position: relative;
		font-size: 12px;
		min-width: auto;
		box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
		min-height: auto;
		text-align: center;
		transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		font-weight: 400;
		line-height: 1.42857143;
		white-space: nowrap;
		will-change: box-shadow, transform;
		touch-action: manipulation;
		border-radius: 3px;
		letter-spacing: 0;
		text-transform: uppercase;
		vertical-align: middle;
		background-color: #999;

		box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
		background-color: #e91e63;
		margin-left: auto;
		display: block;
		outline: none;

		&:hover {
			box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
			background-color: #e91e63;
		}
	}
}
