.quiz {
    &__wrapper {
        padding-bottom: 20px;
    }
    &__question {
        font-weight: 400;
        line-height: 1;
        color: #777;
    }
    &__quote {
        margin: 30px 0 20px;
        padding: 10px 20px;
        font-size: 17.5px;
        border-left: 5px solid#eee;
        font-style: italic;
    }
    &__author {
        color: #777;
        font-size: 16px;
        margin-bottom: 50px;
    }
    &__answer {
        color: #fff;
        border: none;
        cursor: pointer;
        margin: 0.3125rem 1px;
        padding: 12px 30px;
        position: relative;
        font-size: 12px;
        min-width: auto;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
        min-height: auto;
        text-align: center;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        will-change: box-shadow, transform;
        touch-action: manipulation;
        border-radius: 3px;
        letter-spacing: 0;
        text-transform: uppercase;
        vertical-align: middle;
        background-color: #999;
        width: 200px;
        margin: 0 auto 20px;
        color: #fff;
        display: table;

        &:nth-of-type(1) {
            box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
            background-color: #55acee;

            &:hover {
                box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(85, 172, 238, 0.2);
                background-color: #55acee;
            }
        }
        &:nth-of-type(2) {
            box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);
            background-color: #0976b4;

            &:hover {
                box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(9, 118, 180, 0.2);
                background-color: #0976b4;
            }
        }
        &:nth-of-type(3) {
            box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2), 0 1px 5px 0 rgba(234, 76, 137, 0.12);
            background-color: #ea4c89;

            &:hover {
                box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2),
                    0 1px 5px 0 rgba(234, 76, 137, 0.12);
                background-color: #ea4c89;
            }
        }
    }
    &__submit {
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 12px 30px;
        position: relative;
        font-size: 12px;
        min-width: auto;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
        min-height: auto;
        text-align: center;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        will-change: box-shadow, transform;
        touch-action: manipulation;
        border-radius: 3px;
        letter-spacing: 0;
        text-transform: uppercase;
        vertical-align: middle;
        background-color: #999;
        margin-left: auto;
        display: block;
        outline: none;
        width: 100%;

        &--yes {
            box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
            background-color: #55acee;

            &:hover {
                box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(85, 172, 238, 0.2);
                background-color: #55acee;
            }
        }
        &--no {
            box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
            background-color: #e91e63;

            &:hover {
                box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(233, 30, 99, 0.2);
                background-color: #e91e63;
            }
        }
    }
    &__empty {
        color: #000;
        padding: 200px 50px;
        text-align: center;
        font-size: 32px;
    }
    &__correct-answer {
        line-height: 40px;
    }
}
