h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}
*:focus {
    outline: none;
}
*:focus {
    /* autoprefixer: ignore next */
    outline: none;
}
*::-moz-focus-inner {
    /* autoprefixer: ignore next */
    border: 0;
}
input {
    /* autoprefixer: ignore next */
    -webkit-appearance: none;
    /* autoprefixer: ignore next */
    -moz-appearance: none;
    /* autoprefixer: ignore next */
    appearance: none;
}
body,
html {
    position: relative;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    display: block;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}
body * {
    -webkit-appearance: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0;
}

.mrk-container-fluid,
.mrk-container {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.mrk-container-fluid {
    width: 100%;
}

.mrk-row:not(.mrk-row-narrow) {
    margin-right: -16px;
    margin-left: -16px;

    > [class*="mrk-xs-"],
    > [class*="mrk-sm-"],
    > [class*="mrk-lg-"],
    > [class*="mrk-xl-"],
    > [class*="mrk-hg-"] {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.mrk-row:after,
.mrk-row:before {
    display: table;
    content: " ";
    clear: both;
}

.mrk-row {
    > [class*="mrk-xs-"],
    > [class*="mrk-sm-"],
    > [class*="mrk-lg-"],
    > [class*="mrk-xl-"],
    > [class*="mrk-hg-"] {
        min-height: 1px;
        float: left;
    }
}
@media (max-width: 767px) {
    .mrk-container {
        width: 100%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-xs-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-xs-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-xs-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-xs-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-xs-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-xs-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-3 {
        margin-left: 25%;
    }
    .mrk-xs-space-right-3 {
        margin-right: 25%;
    }
    .mrk-xs-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-xs-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-xs-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-xs-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-xs-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-6 {
        margin-left: 50%;
    }
    .mrk-xs-space-right-6 {
        margin-right: 50%;
    }
    .mrk-xs-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-xs-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-xs-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-xs-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-xs-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-9 {
        margin-left: 75%;
    }
    .mrk-xs-space-right-9 {
        margin-right: 75%;
    }
    .mrk-xs-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-xs-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-xs-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-xs-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-xs-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-xs-space-left-12 {
        margin-left: 100%;
    }
    .mrk-xs-space-right-12 {
        margin-right: 100%;
    }
    .mrk-xs-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .mrk-sm-right {
        float: right;
    }
    .mrk-container {
        width: 728px;
    }
    //----------------------------------*/
    .mrk-sm-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-sm-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-sm-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-sm-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-sm-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-sm-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-sm-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-3 {
        margin-left: 25%;
    }
    .mrk-sm-space-right-3 {
        margin-right: 25%;
    }
    .mrk-sm-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-sm-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-sm-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-sm-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-sm-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-6 {
        margin-left: 50%;
    }
    .mrk-sm-space-right-6 {
        margin-right: 50%;
    }
    .mrk-sm-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-sm-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-sm-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-sm-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-sm-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-9 {
        margin-left: 75%;
    }
    .mrk-sm-space-right-9 {
        margin-right: 75%;
    }
    .mrk-sm-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-sm-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-sm-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-sm-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-sm-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-sm-space-left-12 {
        margin-left: 100%;
    }
    .mrk-sm-space-right-12 {
        margin-right: 100%;
    }
    .mrk-sm-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .mrk-container {
        width: 972px;
    }
    //----------------------------------*/
    .mrk-md-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-md-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-md-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-md-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-md-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-md-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-md-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-md-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-md-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-md-space-left-3 {
        margin-left: 25%;
    }
    .mrk-md-space-right-3 {
        margin-right: 25%;
    }
    .mrk-md-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-md-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-md-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-md-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-md-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-md-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-md-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-md-space-left-6 {
        margin-left: 50%;
    }
    .mrk-md-space-right-6 {
        margin-right: 50%;
    }
    .mrk-md-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-md-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-md-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-md-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-md-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-md-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-md-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-md-space-left-9 {
        margin-left: 75%;
    }
    .mrk-md-space-right-9 {
        margin-right: 75%;
    }
    .mrk-md-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-md-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-md-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-md-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-md-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-md-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-md-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-md-space-left-12 {
        margin-left: 100%;
    }
    .mrk-md-space-right-12 {
        margin-right: 100%;
    }
    .mrk-md-12 {
        width: 100%;
    }
}

@media (min-width: 1170px) {
    .mrk-container {
        width: 1140px;
    }
    //----------------------------------*/
    .mrk-lg-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-lg-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-lg-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-lg-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-lg-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-lg-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-lg-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-3 {
        margin-left: 25%;
    }
    .mrk-lg-space-right-3 {
        margin-right: 25%;
    }
    .mrk-lg-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-lg-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-lg-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-lg-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-lg-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-6 {
        margin-left: 50%;
    }
    .mrk-lg-space-right-6 {
        margin-right: 50%;
    }
    .mrk-lg-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-lg-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-lg-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-lg-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-lg-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-9 {
        margin-left: 75%;
    }
    .mrk-lg-space-right-9 {
        margin-right: 75%;
    }
    .mrk-lg-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-lg-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-lg-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-lg-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-lg-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-lg-space-left-12 {
        margin-left: 100%;
    }
    .mrk-lg-space-right-12 {
        margin-right: 100%;
    }
    .mrk-lg-12 {
        width: 100%;
    }
}

@media (min-width: 1366px) {
    .mrk-container {
        width: 1336px;
    }
    //----------------------------------*/
    .mrk-xl-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-xl-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-xl-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-xl-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-xl-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-xl-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-xl-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-3 {
        margin-left: 25%;
    }
    .mrk-xl-space-right-3 {
        margin-right: 25%;
    }
    .mrk-xl-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-xl-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-xl-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-xl-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-xl-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-6 {
        margin-left: 50%;
    }
    .mrk-xl-space-right-6 {
        margin-right: 50%;
    }
    .mrk-xl-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-xl-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-xl-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-xl-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-xl-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-9 {
        margin-left: 75%;
    }
    .mrk-xl-space-right-9 {
        margin-right: 75%;
    }
    .mrk-xl-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-xl-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-xl-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-xl-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-xl-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-xl-space-left-12 {
        margin-left: 100%;
    }
    .mrk-xl-space-right-12 {
        margin-right: 100%;
    }
    .mrk-xl-12 {
        width: 100%;
    }
}

@media (min-width: 1490px) {
    .mrk-container {
        width: 1460px;
    }
    //----------------------------------*/
    .mrk-hg-space-left-1 {
        margin-left: 8.33333333%;
    }
    .mrk-hg-space-right-1 {
        margin-right: 8.33333333%;
    }
    .mrk-hg-1 {
        width: 8.33333333%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-2 {
        margin-left: 16.66666667%;
    }
    .mrk-hg-space-right-2 {
        margin-right: 16.66666667%;
    }
    .mrk-hg-2 {
        width: 16.66666667%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-quarter {
        margin-left: 20%;
    }
    .mrk-hg-space-right-quarter {
        margin-right: 20%;
    }
    .mrk-hg-quarter {
        width: 20%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-3 {
        margin-left: 25%;
    }
    .mrk-hg-space-right-3 {
        margin-right: 25%;
    }
    .mrk-hg-3 {
        width: 25%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-4 {
        margin-left: 33.33333333%;
    }
    .mrk-hg-space-right-4 {
        margin-right: 33.33333333%;
    }
    .mrk-hg-4 {
        width: 33.33333333%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-5 {
        margin-left: 41.66666667%;
    }
    .mrk-hg-space-right-5 {
        margin-right: 41.66666667%;
    }
    .mrk-hg-5 {
        width: 41.66666667%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-6 {
        margin-left: 50%;
    }
    .mrk-hg-space-right-6 {
        margin-right: 50%;
    }
    .mrk-hg-6 {
        width: 50%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-7 {
        margin-left: 58.33333333%;
    }
    .mrk-hg-space-right-7 {
        margin-right: 58.33333333%;
    }
    .mrk-hg-7 {
        width: 58.33333333%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-8 {
        margin-left: 66.66666667%;
    }
    .mrk-hg-space-right-8 {
        margin-right: 66.66666667%;
    }
    .mrk-hg-8 {
        width: 66.66666667%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-9 {
        margin-left: 75%;
    }
    .mrk-hg-space-right-9 {
        margin-right: 75%;
    }
    .mrk-hg-9 {
        width: 75%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-10 {
        margin-left: 83.33333333%;
    }
    .mrk-hg-space-right-10 {
        margin-right: 83.33333333%;
    }
    .mrk-hg-10 {
        width: 83.33333333%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-11 {
        margin-left: 91.66666667%;
    }
    .mrk-hg-space-right-11 {
        margin-right: 91.66666667%;
    }
    .mrk-hg-11 {
        width: 91.66666667%;
    }
    //----------------------------------*/
    .mrk-hg-space-left-12 {
        margin-left: 100%;
    }
    .mrk-hg-space-right-12 {
        margin-right: 100%;
    }
    .mrk-hg-12 {
        width: 100%;
    }
}

@font-face {
    font-family: "AvenirLTStd";
    src: url(/assets/fonts/AvenirLTStd-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "AvenirLTStd";
    src: url(/assets/fonts/AvenirLTStd-Roman.otf);
    font-weight: 400;
}
@font-face {
    font-family: "AvenirLTStd";
    src: url(/assets/fonts/AvenirLTStd-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "AvenirLTStd";
    src: url(/assets/fonts/AvenirLTStd-Heavy.otf);
    font-weight: 700;
}
@font-face {
    font-family: "AvenirLTStd";
    src: url(/assets/fonts/AvenirLTStd-Black.otf);
    font-weight: 900;
}

@mixin font-light {
    font-family: "AvenirLTStd" !important;
    font-weight: 300;
}

@mixin font-normal {
    font-family: "AvenirLTStd" !important;
    font-weight: 400;
}

@mixin font-medium {
    font-family: "AvenirLTStd" !important;
    font-weight: 500;
}

@mixin font-bold {
    font-family: "AvenirLTStd" !important;
    font-weight: 700;
}

@mixin font-black {
    font-family: "AvenirLTStd" !important;
    font-weight: 900;
}

.font-normal {
    @include font-normal;
}

.font-medium {
    @include font-medium;
}

.font-light {
    @include font-light;
}

.font-bold {
    @include font-bold;
}

.font-black {
    @include font-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "AvenirLTStd";
    font-weight: 700;
}

body {
    font-family: "AvenirLTStd";
    font-weight: 400;
}
