.slide-bar {
    &__container {
        position: fixed;
        top: 60px;
        right: 0;
        width: 64px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1031;
        border-radius: 8px 0 0 8px;
        text-align: center;

        &:hover {
            .slide-bar__wrapper {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.6s, visibility 0s 0s;
            }
        }
    }
    &__icon {
        padding: 10px;

        svg {
            fill: #fff;
            display: block;
            width: 36px;
            cursor: pointer;
        }
    }
    &__wrapper {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.6s, visibility 0s 0.6s;

        top: 0;
        right: 80px;
        left: auto;
        width: 290px;
        padding: 0 10px;
        position: absolute;
        z-index: 1000;
        float: left;
        min-width: 160px;
        margin: 2px 0 0;
        -webkit-transform: translateY(-13%);
        transform: translateY(-13%);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    &__content {
        text-align: center;
        font-size: 14px;
        list-style: none;
        border-radius: 10px;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        min-height: 100px;

        &:before {
            right: 10px;
            margin-left: auto;
            left: auto;

            content: "";
            display: inline-block;
            position: absolute;
            top: 46px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);

            border-bottom: 16px solid transparent;
            border-left: 16px solid rgba(0, 0, 0, 0.2);
            border-top: 16px solid transparent;

            right: -5px;
        }

        &:after {
            right: 10px;
            margin-left: auto;
            left: auto;

            content: "";
            display: inline-block;
            position: absolute;
            top: 46px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);

            border-bottom: 16px solid transparent;
            border-left: 16px solid #fff;
            border-top: 16px solid transparent;

            right: -4px;
        }
    }
    &__title {
        padding: 5px 2px;
        height: 30px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    &__line {
        display: table;
        padding: 15px 10px;
        height: 50px;
        position: relative;
        width: 100%;

        p {
            float: left;
            display: inline-block;
            margin-bottom: 0;
            font-size: 1em;
            color: #3c4858;
            margin-top: 4px;
        }
    }
    &__button {
        width: 58px;
        height: 38px;
        display: inline-flex;
        padding: 12px;
        z-index: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        flex-shrink: 0;
        vertical-align: middle;
        overflow: visible;
        position: absolute;
        right: 0;
        top: 5px;

        &--in {
            .slide-bar__button-line {
                background-color: rgba(156, 39, 176, 1) !important;
            }
            .slide-bar__button-box {
                left: 100%;
                transform: translateX(-100%);

                &:hover {
                    background-color: rgba(245, 0, 87, 0.08);
                }
                > span > span {
                    border-color: #9c27b0;
                }
            }
        }

        &-line {
            width: 100%;
            height: 100%;
            opacity: 0.38;
            z-index: -1;
            transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 7px;
            background-color: #000;

            width: 30px;
            height: 15px;
            opacity: 0.7 !important;
            border-radius: 15px;
            background-color: rgb(80, 80, 80);
        }
        &-box {
            color: inherit;
            border: 0;
            cursor: pointer;
            margin: 0;
            display: inline-flex;
            outline: 0;
            padding: 0;
            position: relative;
            align-items: center;
            user-select: none;
            border-radius: 0;
            vertical-align: middle;
            -moz-appearance: none;
            justify-content: center;
            text-decoration: none;
            background-color: transparent;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;

            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.54);
            padding: 12px;
            overflow: visible;
            font-size: 1.5rem;
            text-align: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 50%;

            top: -3px;
            left: 0;
            color: #fafafa;
            z-index: 1;
            position: absolute;
            transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            will-change: left, transform;

            color: #9c27b0 !important;

            > span {
                width: 100%;
                display: flex;
                align-items: inherit;
                justify-content: inherit;
            }
            > span > span {
                width: 20px;
                height: 20px;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
                border-radius: 50%;
                background-color: #fff;

                color: #fff !important;
                border: 1px solid rgba(0, 0, 0, 0.54);
                box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
