.text-box {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		width: calc(100% + 30px);
		margin: 0 -15px;
		&--less-space {
			.text-box__input-wrapper {
				padding-top: 0;
			}
			.text-box__label label {
				padding-top: 12px;
			}
		}
	}
	&__label {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%;
		padding: 0 15px !important;

		@media (min-width: 600px) {
			flex-grow: 0;
			max-width: 16.666667%;
			flex-basis: 16.666667%;
		}

		label {
			padding: 0;
			float: right;
			color: rgba(0, 0, 0, 0.26);
			cursor: pointer;
			display: inline-flex;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.428571429;
			padding-top: 39px;
			margin-right: 0;
		}
	}
	&__input {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%;
		padding: 0 15px !important;

		@media (min-width: 600px) {
			flex-grow: 0;
			max-width: 83.333333%;
			flex-basis: 83.333333%;
		}
		&-field {
			font: inherit;
			color: currentColor;
			width: 100%;
			border: 0;
			height: 1.1875em;
			margin: 0;
			display: block;
			padding: 6px 0 7px;
			min-width: 0;
			background: none;
			box-sizing: content-box;
			-webkit-tap-highlight-color: transparent;

			color: #495057;
			height: unset;

			opacity: 1;
			font-size: 14px;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			font-weight: 400;
			line-height: 1.42857;
			outline: none;

			&:focus {
				+ .text-box__input-status + .text-box__input-line:after {
					transform: scaleX(1);
				}
			}
		}
		&-wrapper {
			border: 0;
			margin: 0;
			display: inline-flex;
			padding: 0;
			position: relative;
			min-width: 0;
			flex-direction: column;
			vertical-align: top;
			width: 100%;
			margin: 0 0 17px 0;
			position: relative;
			padding-top: 27px;
			vertical-align: unset;
		}
		&-holder {
			color: rgba(0, 0, 0, 0.87);
			cursor: text;
			display: inline-flex;
			position: relative;
			font-size: 1rem;
			box-sizing: border-box;
			align-items: center;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			line-height: 1.1875em;

			&--success {
				.text-box__input-line::after {
					border-color: #4caf50;
				}
			}
			&--error {
				.text-box__input-line::after {
					border-color: #f44336;
				}
			}
		}
		&-line {
			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				content: "\00a0";
				position: absolute;
				transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
				border-bottom: 1px solid rgba(0, 0, 0, 0.42);
				pointer-events: none;
				border-color: #d2d2d2 !important;
				border-width: 1px !important;
			}
			&:after {
				left: 0;
				right: 0;
				bottom: 0;
				content: "";
				position: absolute;
				transform: scaleX(0);
				transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
				border-bottom: 2px solid #303f9f;
				pointer-events: none;
				border-color: #9c27b0;
			}
		}
		&-status {
			height: 0.01em;
			display: flex;
			max-height: 2em;
			align-items: center;
			margin-left: 8px;
			position: relative;
			margin-right: 8px;

			svg {
				fill: currentColor;
				width: 1em;
				height: 1em;
				display: inline-block;
				font-size: 1.5rem;
				transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
				flex-shrink: 0;
				user-select: none;
			}
			&-ok {
				color: #4caf50;
			}
			&-error {
				color: #f44336;
			}
		}
		&-error {
			top: 100%;
			left: 0;
			width: 100%;
			padding-left: 0;
			line-height: 20px;
			font-size: 10px;
			position: absolute;
			color: #f44336;
		}
	}
}
