.sign-up {
    &__container {
        top: 0;
        height: auto;
        position: relative;
        min-height: 100vh;
    }
    &__wrapper {
        color: #fff;
        border: 0;
        height: 100%;
        margin: 0;
        display: flex !important;
        padding: 120px 0;
        position: relative;
        min-height: 100vh;
        align-items: center;
        background-size: cover;
        background-position: center center;
        background-color: #535353;
    }
    &__form {
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
        border: 0;
        display: flex;
        position: relative;
        font-size: 0.875rem;
        min-width: 0;
        word-wrap: break-word;
        background: #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        margin-top: 30px;
        border-radius: 6px;
        margin-bottom: 30px;
        flex-direction: column;
        transform: translate3d(0, 0, 0);
        transition: all 300ms linear;
        max-width: 300px;
        margin: 0 auto;

        &-header {
            color: #fff;
            margin: 0 15px;
            position: relative;

            background: linear-gradient(60deg, #ec407a, #d81b60);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
            padding: 15px;
            margin-top: -20px;
            border-radius: 3px;
            text-align: center;

            h4 {
                color: #fff;
                margin-top: 0;
                min-height: auto;
                font-weight: 300;
                margin-bottom: 3px;
                text-decoration: none;
            }
        }

        &-body {
            flex: 1 1 auto;
            padding: 0.9375rem 20px;
            position: relative;
            -webkit-box-flex: 1;
        }
        &-submit {
            border: 0;
            margin: 0 15px 10px;
            display: flex;
            padding: 0;
            align-items: center;
            padding-top: 10px;
            border-radius: 0;
            justify-content: space-between;
            background-color: transparent;
            justify-content: center;
        }
    }
}
