.select-box {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		width: calc(100% + 30px);
		margin: 0 -15px;

		&--less-space {
			.select-box__input-wrapper {
				padding-top: 0;
			}
			.select-box__label label {
				padding-top: 12px;
			}
		}
	}
	&__label {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%;
		padding: 0 15px !important;

		@media (min-width: 600px) {
			flex-grow: 0;
			max-width: 16.666667%;
			flex-basis: 16.666667%;
		}

		label {
			padding: 0;
			float: right;
			color: rgba(0, 0, 0, 0.26);
			cursor: pointer;
			display: inline-flex;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.428571429;
			padding-top: 39px;
			margin-right: 0;
		}
	}
	&__input {
		flex-grow: 0;
		max-width: 100%;
		flex-basis: 100%;
		padding: 0 15px !important;

		@media (min-width: 600px) {
			flex-grow: 0;
			max-width: 83.333333%;
			flex-basis: 83.333333%;
		}

		&-container {
			width: 100%;
			position: relative;
			z-index: 1;
		}
		&-placeholder {
			padding: 0;
			font-weight: 400;
			line-height: 1;
			letter-spacing: 0.00938em;
			display: block;
			transform-origin: top left;
			left: 0;
			position: absolute;
			transform: translate(0, 12px) scale(1);
			transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
			top: 00;
			color: #3c4858 !important;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
		}

		&-field {
			cursor: text;
			font-size: 1rem;
			align-items: center;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			line-height: 1.1875em;
			font: inherit;
			color: currentColor;
			width: 100%;
			border: 0;
			margin: 0;
			display: block;
			padding: 0;
			min-width: 0;
			background: none;
			box-sizing: content-box;
			-webkit-tap-highlight-color: transparent;

			svg {
				fill: #000;
				width: 1em;
				height: 1em;
				display: inline-block;
				font-size: 1.5rem;
				transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
				flex-shrink: 0;
				user-select: none;

				top: calc(50% - 12px);
				color: rgba(0, 0, 0, 0.54);
				right: 0;
				position: absolute;
				pointer-events: none;

				transition: all 300ms linear;
			}

			div {
				font: inherit;
				color: currentColor;
				width: 100%;
				border: 0;
				margin: 0;
				display: block;
				padding: 6px 0 7px;
				min-width: 0;
				background: none;
				box-sizing: content-box;
				-webkit-tap-highlight-color: transparent;
				min-height: 17px;

				cursor: pointer;
				min-width: 16px;
				user-select: none;
				border-radius: 0;
				-moz-appearance: none;
				-webkit-appearance: none;

				height: auto;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				color: #3c4858;
				padding: 12px 0 7px;
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.42857;
				letter-spacing: 0;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
		&-wrapper {
			border: 0;
			margin: 0;
			display: inline-flex;
			padding: 0;
			position: relative;
			min-width: 0;
			flex-direction: column;
			vertical-align: top;
			width: 100%;
			margin: 0 0 17px 0;
			position: relative;
			padding-top: 27px;
			vertical-align: unset;
		}
		&-holder {
			color: rgba(0, 0, 0, 0.87);
			cursor: text;
			display: inline-flex;
			position: relative;
			font-size: 1rem;
			box-sizing: border-box;
			align-items: center;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			line-height: 1.1875em;

			&--success {
				.select-box__input-line::after {
					border-color: #4caf50;
				}
			}
			&--error {
				.select-box__input-line::after {
					border-color: #f44336;
				}
			}
			&--open,
			&--in,
			&--touched {
				.select-box__input-placeholder {
					transform: translate(0, -6px) scale(0.75);
					transform-origin: top left;
				}
			}
			&--open {
				.select-box__input-line:after {
					transform: scaleX(1);
				}

				.select-box__input-overlay,
				.select-box__input-options {
					opacity: 1;
					transform: scale(1, 1);
				}
			}
		}
		&-line {
			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				content: "\00a0";
				position: absolute;
				transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
				border-bottom: 1px solid rgba(0, 0, 0, 0.42);
				pointer-events: none;
				border-color: #d2d2d2 !important;
				border-width: 1px !important;
			}
			&:after {
				left: 0;
				right: 0;
				bottom: 0;
				content: "";
				position: absolute;
				transform: scaleX(0);
				transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
				border-bottom: 2px solid #303f9f;
				pointer-events: none;
				border-color: #9c27b0;
			}
		}
		&-error {
			top: 100%;
			left: 0;
			width: 100%;
			padding-left: 0;
			line-height: 20px;
			font-size: 10px;
			position: absolute;
			color: #f44336;
		}

		&-overlay {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
			transform: scale(0, 0);
		}

		&-options {
			z-index: 2;
			outline: 0;
			position: absolute;
			max-width: calc(100% - 32px);
			max-height: 200px;
			min-height: 16px;
			overflow-x: hidden;
			overflow-y: auto;
			opacity: 1;
			transform: none;
			min-width: 172px;
			transition: opacity 302ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 10ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
			transform-origin: center center;
			color: rgba(0, 0, 0, 0.87);
			background-color: #fff;
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
				0px 3px 14px 2px rgba(0, 0, 0, 0.12);
			top: 0;
			opacity: 0;
			transform: scale(0, 0);
			ul {
				border: 0;
				margin: 0;
				display: block;
				padding: 5px 0;
				font-size: 14px;
				min-width: 100%;
				box-shadow: none;
				box-sizing: border-box;
				list-style: none;
				text-align: left;
				border-radius: 4px;
				background-clip: padding-box;
				background-color: #fff;
			}
			li {
				clear: both;
				margin: 0 5px;
				display: block;
				padding: 10px 20px;
				font-size: 13px;
				transition: all 150ms linear;
				font-weight: 400;
				line-height: 2;
				white-space: nowrap;
				border-radius: 2px;
				padding-right: 30px;
				cursor: pointer;
			}

			&--disabled {
				cursor: default;
				pointer-events: none;
				opacity: 0.5;
			}

			&--selected {
				color: #fff;
				background-color: #9c27b0 !important;
			}
		}
	}
}
